@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v12/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU0J7A.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v1/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1C4E.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Outfit', sans-serif;
}
.calculator {
  width: 330px;
  height: 93vh;
  border: 3px solid gray;
  border-radius: 50px;
  margin: auto auto;
  color: white;
  background: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.calculator__input {
  height: 30%;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.calculator__button {
  font-size: 38px;
  display: flex;
  flex-direction: column;
}
.calculator__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 0 0;
}
.button__gray {
  width: 75px;
  height: 75px;
  background: #b8b8b8;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 1s;
}
.button__gray:hover {
  background-color: rgba(143, 142, 142, 0.808);
}
.button__orange {
  width: 75px;
  height: 75px;
  background: orange;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 1s;
}
.button__orange:hover {
  background-color: rgba(207, 135, 2, 0.808);
}
.button__result {
  width: 75px;
  height: 75px;
  background: orange;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 1s;
}
.button__result:hover {
  background-color: rgba(207, 135, 2, 0.808);
}
.button__darkgray {
  width: 75px;
  height: 75px;
  background: #363636;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 1s;
}
.button__darkgray:hover {
  background-color: rgba(46, 46, 46, 0.76);
}
